<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if current_user.admin? %>
  <p>
    <%= link_to "Destroy Comment", [comment.post, comment], data: {
               turbo_method: :delete,
               turbo_confirm: "Are you sure?"
              } %>
  </p>

<% end %>
